.breadcrumb {
    background-color: white !important;
}


.breadcrumb > li:before {
    color: #ccc;
    content: url('/img/breadcrum-inactive.gif') !important;
    padding: 0 5px;
    position: relative;
    top: 7px;
}


.breadcrumb > li.breadcrumb-item.active:before  {
    color: #ccc;
    content: url('/img/breadcrum-active.gif') !important;
    padding: 0 5px;
    position: relative;
    top: 7px;
}

nav {
    border: none !important;
    box-shadow: none !important;
}

.nav-item#main {
    border-top: 1px solid#dfdcd8;
}

.nav-item#main a {
    font-size: 13px;
    color: #646464;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:29px;
    padding-top:0;
}

.nav-item#lang a {
    font-size: 13px;
    color: #646464;
    margin-top:29px;
    padding-top:0;
}

.nav-item#main a:hover {
    color:#f06566;
}

.nav-item.active#main {
    border-top: 5px solid #f06566;
    margin-top: -4px;
    margin-left: 1px;
    margin-right: 1px;
}

.nav-item.active#main a {
    color:#f06566;
}

.nav-item#lang div {
    font-size: 13px;
    color: #646464;
    margin-top:29px;
    padding-top:0;
    padding-left:0;
    padding-right:0
}

.nav-item#lang a:hover {
    color: #f06566;
}


.nav-item.active#lang a {
    color: #f06566;
    text-decoration: underline;
}
