
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

@import 'typo';

@import 'navs';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (max-width: 576px) {
    .breadcrumb > li {
        display:none !important;
    }
    .breadcrumb li.breadcrumb-item.active {
        display:block !important;
    }
    .btn.product.btn-primary.float-right {
        width: 100%;
    }
    .nav-item.splitter#lang {
        display: none;
    }
    footer {
        text-align: center;
    }
 }


.py-4 {
    background-color: #dfdcd8;
}

.card-body#main-content {
    padding: 0;
}

.btn.product.btn-primary {
    background-color:#f06566;
    border:none;
    border-radius: 0;
    height: 50px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
    color: #292929;
    padding-top: 30px;
}
